// Fonte 
$fontPrincipal: Roboto, sans-serif;

// Cores 
$corDeFundoPrincipal: #f5f6fa;
$corDeFundoSecundaria: #182C61;
$corDeFundoBotao: #44bd32;
$corDeFundoBotaoHover: #4cd137;
$corDaFontBotao: #fff;

// Breakpoints 
$mobile: 767px;
$tablet: 1023px;